{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de Passe{% endblock %}

{%  block css %}
    <style>
        h3 {
            margin-top: 50px;
            margin-bottom: 20px;
        }
        form {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 400px;
        }
    </style>
{% endblock %}

{% block header %}
    <h3 class="text-center">Content de vous revoir !</h3>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 mx-auto text-center">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group form-control-sm">
                    {{ form_label(form.password.first, 'Créer un nouveau mot de passe') }}
                    <br><small class="text-muted">(minimum 8 caractères)</small>
                    {{ form_widget(form.password.first, {'attr': {
                        'class': 'form-control form-control-sm',
                        'minlength': '8'
                    }}) }}
                </div>

                <div class="form-group form-control-sm">
                    {{ form_label(form.password.second, 'Confirmez votre mot de passe') }}
                    {{ form_widget(form.password.second, {'attr': {
                        'class': 'form-control form-control-sm',
                        'minlength': '8'
                    }}) }}
                </div>

                {{ form_rest(form) }}

                <div class="text-center">
                    <input class="btn btn-sm" type="submit" value="Réinitialiser">
                </div>


            </div>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}

