{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="form-group form-control-sm">
    {{ form_label(form._login, 'Votre identifiant :') }}
    {{ form_widget(form._login, {'attr': {
        'class': 'form-control',
        'placeholder': 'Nom d\'utilisateur ou email'
    }}) }}
</div>

<div class="form-group form-control-sm">
    {{ form_label(form._password, 'Votre mot de passe :') }}
    {{ form_widget(form._password, {'attr': {
        'class': 'form-control',
        'placeholder': 'Mot de passe'
    }}) }}
</div>

{{ form_rest(form) }}

<div class="text-center">
    <input class="btn btn-sm" type="submit" value="Se connecter">
</div>

{{ form_end(form) }}