{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="form-group form-control-sm">
    {{ form_label(form._login, 'Votre identifiant') }}
    {{ form_widget(form._login, {'attr': {
        'class': 'form-control',
        'placeholder': 'Nom d\'utilisateur ou adresse e-mail'
    }}) }}
</div>

<div class="form-group form-control-sm">
    {{ form_label(form._password, 'Votre mot de passe') }}
    {{ form_widget(form._password, {'attr': {
        'class': 'form-control',
        'placeholder': 'Mot de passe'
    }}) }}
</div>

{{ form_rest(form) }}

<div class="text-center">
    <input class="btn btn-sm" type="submit" value="Se connecter">
</div>

{{ form_end(form) }}

<hr>
<div class="container-fluid text-center">
    <p style="margin-bottom: 0.5em;font-size: 0.8em;font-weight: bolder;">Vous pouvez essayer l'utilisateur par default :</p>
    <table class="table table-sm table-bordered" style="font-size: 0.875em;">
        <thead>
        <tr>
            <th style="font-weight: 500;">Identifiant</th>
            <th style="font-weight: 500;">Mot de passe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>root</td>
            <td>root</td>
        </tr>
        </tbody>
    </table>
</div>
