{% for trick in tricks %}
<div class="col-6 col-md-4 col-lg-3">
	<div class="main-trick" id="{{ trick.id }}">
		<a href="{{ path('Trick', {'slug': trick.slug}) }}">
            <div class="main-trick-header">
                <div class="img" style="background-image: url({{ asset( trick.MainPicture.path ~ '/thumbnail-' ~ trick.MainPicture.filename) }});"></div>
                <p class="main-trick-title h">{{ trick.title | title }}</p>
                <p class="main-trick-content">{{ trick.description |  length > 100 ? trick.description | striptags | slice(0, 100) ~ '...' : trick.description | striptags }}</p>
            </div>
        </a>


        {% if trick.groups | length > 0 %}

            <div class="main-trick-groups text-center">
                {% for group in trick.groups %}
                    <span class="badge" onclick="foo({{ group.name }})">{{ group.name }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <hr class="hr-thumbnail">
            <div class="main-trick-administration">
			<a href="{{ path('Trick', {'slug': trick.slug}) }}"><i class="far fa-eye fa-lg"></i></a>
            <a href="{{ path('UpdateTrick', {'slug': trick.slug}) }}"><i class="far fa-edit fa-lg"></i></a>
            {#<a id="remove-trick"><i class="far fa-edit fa-lg"></i></a>#}
			<a onclick="displayRemoveTrickModal('{{ trick.id }}', '{{ trick.title }}')"><i class="far fa-trash-alt fa-lg"></i></a>
		</div>
        {% endif %}
	</div>
</div>
{% endfor %}