{% for trick in tricks %}
<div class="col-6 col-md-4 col-lg-3">
	<div class="main-trick">
		<a href="{{ path('Trick', {'slug': trick.slug}) }}">
            <div class="main-trick-header">
                <div class="img" style="background-image: url({{ asset(trick.MainPicture.path~trick.MainPicture.fileName) }});"></div>
                <p class="main-trick-title h">{{ trick.title |title }}</p>
                <p class="main-trick-content">{{ trick.description|length > 100 ? trick.description|slice(0, 100) ~ '...' : trick.description  }}</p>
            </div>
        </a>

        <div class="main-trick-groups text-center">
        {% for group in trick.groups %}
            <span class="badge" onclick="foo({{ group.name }})">{{ group.name }}</span>
        {% endfor %}
        </div>

		<div class="main-trick-administration">
			<a href="#"><i class="far fa-eye fa-lg"></i></a>
			<a href="#"><i class="far fa-edit fa-lg"></i></a>
			<a href="#"><i class="far fa-trash-alt fa-lg"></i></a>
		</div>
	</div>
</div>
{% endfor %}