{% extends 'base.html.twig' %}

{% block title %}Ajoutes un Trick{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <h1 class="text-center">Ajout d'un nouveau trick</h1>
    <div class="container">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="form-group">
            <div class="form-row">
            {#Title#}
            {{ form_label(form.title) }}
            {{ form_widget(form.title)}}
            {#Content#}
            {{ form_row(form.description)}}
            </div>
        </div>
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
