{% extends 'authentication/base_modal.html.twig' %}

{% block modal_head %}Mot de passe oublié{% endblock %}

{% block authentication_form %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group form-control-sm text-center">
        {{ form_label(form.login, 'Saisissez votre identifiant :') }}
        <div style="line-height: 1; margin-bottom: .5rem">
            <small style="font-weight: lighter">
                Si votre adresse e-mail est reconnue, <br>nous vous enverrons un lien par e-mail.
            </small></div>
        {{ form_widget(form.login, {'attr': {
            'class': 'form-control form-control-sm',
            'placeholder': 'Nom d\'utilisateur ou e-mail'
        }}) }}
    </div>

    {{ form_rest(form) }}

    <div class="text-center">
      <input class="btn btn-sm" type="submit" value="Réinitialiser">
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block footer_modal %}
  <p><small class="text-muted"><span class="modal-link" onclick="displayAuthenticationModal('login')">Se connecter</span></small></p>
{% endblock %}
