{% macro pictureRow(picture) %}
    {% if picture.vars.value.file.pathname is defined %}
        {% set path = picture.vars.value.file.pathname %}
        {% set alt = 'trick-picture' %}
    {% else %}
        {% set path = 'image/no-image.png' %}
        {% set alt = 'no-image' %}
    {% endif %}

    {{ form_errors(picture) }}
    <div class="col-6 col-sm-4 col-md-3 picture-container picture-load">
        <div class="form-control form-group">
            <label for="{{ picture.vars.id }}_file" class="label-file">
                <img src="{{ asset( path ) }}" alt="{{ alt }}" class="rounded img-fluid">
            </label>
            {{ form_widget(picture, {
                'attr': {'class': 'input-file'}
            })}}
            <div class="d-flex justify-content-around pictures-control">
                <i class="fas fa-trash fa-lg"></i>
                <i class="fas fa-plus-square fa-lg"></i>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro videoRow(video) %}
    <div class="form-row video-container">
        <div class="col-1 vertical-align-middle">
            <div class="videos-control">
                <i class="fas fa-trash fa-lg p-2"></i>
                <i class="fas fa-plus-square fa-lg p-2"></i>
            </div>
        </div>
        <div class="col-11 col-lg-7">
            {{ form_label(video.iFrame, 'Intégrer une vidéo ') }}
            {{ form_widget(video.iFrame, {
                'attr': {
                    'class': 'iframe-textarea',
                    'placeholder':  'Copier-coller l\'iFrame ici...' ,
                    'rows' : '2'
                }
            }) }}
        </div>
        <div class="col-6 col-lg-4 mx-auto">
            <div class="embed-responsive embed-responsive-16by9 iFrame">
                {% if video.vars.value.iFrame is defined %}
                    {{ video.vars.value.iFrame|raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
